<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body align="center">
        <h1>Intro to SVG Graphics</h1>
        <div class="row">
            <div class="col-md-6">
              <h2>Rectangle Demo</h2>
              <p>Here we have four rectangles with height ranging from 100 to 400</p>
              <br>
              <svg width="400" height="400" fill="#DDDDDD">
                  <rect x="0" y="0" width="400" height="400" fill="#DDDDDD" style="stroke:#dddddd"></rect>
              </svg>
            </div>
            <div class="col-md-6">
              <h2>Circle Demo</h2>
              <p>Here we have four circles</p>
              <br>
              <svg width="400" height="400"  fill="#DDDDDD">
                  <rect x="0" y="0" width="400" height="400" fill="#DDDDDD" style="stroke:#dddddd"></rect>
              </svg>
            </div>
        </div>
    </body>
</html>
